@page "/Timing/SectorTimeDetails/{Id:guid}"
@using Bingo.UI.Shared.Components.Timing

<PageTitle>SectorTimeDetails</PageTitle>

<h3>SectorTime Details</h3>

<SectorTimeDetails Id="@Id" />

@code {
    [Parameter]
    public Guid Id { get; set; }
}