@page "/Setup/SessionSectorDetails/{Id:guid}"
@using Bingo.UI.Shared.Components.Setup

<PageTitle>SessionSectorDetails</PageTitle>

<h3>SessionSector Details</h3>

@*<SessionSectorDetails Id="@Id" />*@

@code {
    [Parameter]
    public Guid Id { get; set; }
}