<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bingo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3" style="margin-top: 25px;">
            <span style="color: white; font-weight: 600;">Setup</span>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Setup/SessionList">
                <span class="oi oi-calendar" aria-hidden="true"></span> Sessioni
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Setup/SectorList">
                <span class="oi oi-expand-left" aria-hidden="true"></span> Settori
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Setup/SessionSectorList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Abb. Sessioni-Settori
            </NavLink>
        </li>
        <li class="nav-item px-3" style="margin-top: 25px;">
            <span style="color: white; font-weight: 600;">Anagrafiche</span>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/MasterData/CompetitorCategoryList">
                <span class="oi oi-tags" aria-hidden="true"></span> Categorie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/MasterData/CompetitorList">
                <span class="oi oi-people" aria-hidden="true"></span> Concorrenti
            </NavLink>
        </li>
        <li class="nav-item px-3" style="margin-top: 25px;">
            <span style="color: white; font-weight: 600;">Timing</span>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Timing/SectorTImeList" Match="NavLinkMatch.All" dis>
                <span class="oi oi-timer" aria-hidden="true"></span> Tempi Settore
            </NavLink>
        </li>
        <li class="nav-item px-3" style="margin-top: 25px;">
            <span style="color: white; font-weight: 600;">Misc</span>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/MasterData/UserList" Match="NavLinkMatch.All" dis>
                <span class="oi oi-person" aria-hidden="true"></span> Utenti
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
