@using Bingo.UI.Shared.UIElements.Input

<!-- Check if the Sector object is null, display a loading message if true -->
@if (sc == null)
{
    <span>Getting data...</span>
}
else
{
    <!-- Create an EditForm with the Sector object as the model and handle submission with the HandleValidSubmit method -->
    <EditForm Model="@sc" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="sc.Id" Label="Id" ReadOnly="true" Variant="Variant.Filled" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="sc.Name" Label="Name" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-6">
                    <MudTextField @bind-Value="sc.ImportName" Label="ImportName" Variant="Variant.Outlined" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudNumericField @bind-Value="sc.Length" Label="Length" Step=".1M" Min="0" Max="500" Adornment="Adornment.End" AdornmentText="km"  Variant="Variant.Outlined" />
                </div>
                <div class="col-md-6">
                    <MudNumericField @bind-Value="sc.TargetAverageSpeed" Label="TargetAverageSpeed" Step=".01M" Min="0" Max="400" Adornment="Adornment.End" AdornmentText="km/h" Variant="Variant.Outlined" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <MudTextField @bind-Value="_stringMinTime" Label="MinTime" DebounceInterval="500" OnDebounceIntervalElapsed="RefreshTimes" TextUpdateSuppression="false" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-6">
                    <MudTextField @bind-Value="_stringMaxTime" Label="MaxTime" DebounceInterval="500" OnDebounceIntervalElapsed="RefreshTimes" TextUpdateSuppression="false" Variant="Variant.Outlined" />
                </div>
            </div>
            <!-- Save button -->
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </div>
            </div>
        </div>
    </EditForm>
}