@if (_isLoading)
{
    <!-- Loader Display -->
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <!-- Table Display -->
    <form>

        <!-- Session Table -->
        <table class="table">
            <thead>
                <tr>
                    <!-- Checkbox to toggle selection of all sessions with larger size -->
                    <th class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="_selectAll" @onclick="ToggleSelectAll" /></th>
                    <!-- Headers for line count and session name -->
                    <th class="prog-column"># Prog.</th>
                    <th>Name</th>
                    <th>Standings</th>
                </tr>
            </thead>

            <!-- Session Entries -->
            <tbody>
                @{
                    _lineCount = 1; // Initialize count
                }
                @foreach (var ss in _sessionListUI.OrderBy(us => us.CreationTimeStamp)) // Sort and iterate over sessions
                {
                    <tr>
                        <!-- Session Selection with larger checkbox -->
                        <td class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="ss.Selected" /></td>
                        <!-- Line Count -->
                        <td class="prog-column">@_lineCount</td>
                        <!-- Session Details Link -->
                        <td><a href="/Masterdata/UserDetails/@ss.IdString">@ss.Name</a></td>
                        <td><a href="/Timing/Classification/@ss.Id.ToString()"><span class="oi oi-list" aria-hidden="true"></span></a></td>
                    </tr>
                    _lineCount = _lineCount + 1; // Increment count
                }
            </tbody>
        </table>

        <!-- Button Controls -->
        <button type="button" class="btn btn-success" @onclick="() => NavigateToNewEntity()">New session</button> <!-- Navigate to New Session -->
        <button type="button" class="btn btn-danger" @onclick="() => ConfirmDeleteLines()">Delete Selected Sessions</button> <!-- Delete Selected Sessions -->
        <button type="button" class="btn btn-warning" @onclick="() => ExportToCSV()">Export to CSV</button> <!-- Export to CSV -->

    </form>
}
