@using Bingo.UI.Shared.UIElements.Input

<!-- Check if the Session object is null, display a loading message if true -->
@if (ses == null)
{
    <span>Getting data...</span>
}
else
{
    <!-- Create an EditForm with the Session object as the model and handle submission with the HandleValidSubmit method -->
    <EditForm Model="@ses" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="ses.Id" Label="Id" ReadOnly="true" Variant="Variant.Filled" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <MudTextField @bind-Value="ses.Name" Label="Name" Variant="Variant.Outlined" />
                </div>
            </div>
            <!-- Save button -->
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </div>
            </div>
        </div>
    </EditForm>
}