@using Bingo.UI.Shared.UIElements.Input
@using Bingo.Common.DomainModel.MasterData

<!-- Check if the Competitor object is null, display a loading message if true -->
@if (comp == null)
{
    <span>Getting data...</span>
}
else
{
    <!-- Create an EditForm with the Competitor object as the model and handle submission with the HandleValidSubmit method -->
    <EditForm Model="@comp" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Id" Label="Id" ReadOnly="true" Variant="Variant.Filled" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudAutocomplete T="CompetitorCategory" Label="Category" @bind-Value="LocalCompetitorCategory" SearchFunc="@SearchCompetitorCategory" ToStringFunc="@(e=> e==null?null : $"{e.Name}")" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-3">
                    <MudTextField @bind-Value="comp.Number" Label="Number" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-3">
                    <MudTextField @bind-Value="comp.ImportNumber" Label="ImportNumber" Variant="Variant.Outlined" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Name1" Label="Name1" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Name2" Label="Name2" Variant="Variant.Outlined" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Name3" Label="Name3" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Name4" Label="Name4" Variant="Variant.Outlined" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Nationality" Label="Nationality" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Team" Label="Team" Variant="Variant.Outlined" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Boat" Label="Boat" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Engine" Label="Engine" Variant="Variant.Outlined" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <MudTextField @bind-Value="comp.Status" Label="Status" Variant="Variant.Outlined" />
                </div>
            </div>
            <!-- Save button -->
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </div>
            </div>
        </div>
    </EditForm>
}