@if (_isLoading)
{
    <!-- Loader Display -->
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <!-- Table Display -->
    <form>

        <!-- CompetitorCategory Table -->
        <table class="table">
            <thead>
                <tr>
                    <!-- Checkbox to toggle selection of all competitor categories with larger size -->
                    <th class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="_selectAll" @onclick="ToggleSelectAll" /></th>
                    <!-- Headers for line count and competitor category name -->
                    <th class="prog-column"># Prog.</th>
                    <th>Name</th>
                </tr>
            </thead>

            <!-- CompetitorCategory Entries -->
            <tbody>
                @{
                    _lineCount = 1; // Initialize count
                }
                @foreach (var cat in _competitorCategoryListUI.OrderBy(us => us.CreationTimeStamp)) // Sort and iterate over competitor categories
                {
                    <tr>
                        <!-- CompetitorCategory Selection with larger checkbox -->
                        <td class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="cat.Selected" /></td>
                        <!-- Line Count -->
                        <td class="prog-column">@_lineCount</td>
                        <!-- CompetitorCategory Details Link -->
                        <td><a href="/Masterdata/CompetitorCategoryDetails/@cat.IdString">@cat.Name</a></td>
                    </tr>
                    _lineCount = _lineCount + 1; // Increment count
                }
            </tbody>
        </table>

        <!-- Button Controls -->
        <button type="button" class="btn btn-success" @onclick="() => NavigateToNewEntity()">New Category</button> <!-- Navigate to New CompetitorCategory -->
        <button type="button" class="btn btn-danger" @onclick="() => ConfirmDeleteLines()">Delete Selected CompetitorCategories</button> <!-- Delete Selected CompetitorCategories -->
        <button type="button" class="btn btn-warning" @onclick="() => ExportToCSV()">Export to CSV</button> <!-- Export to CSV -->

    </form>
}
