@using Bingo.UI.Shared.UIElements.Input

<!-- Check if the User object is null, display a loading message if true -->
@if (us == null)
{
    <span>Getting data...</span>
}
else
{
    <!-- Create an EditForm with the User object as the model and handle submission with the HandleValidSubmit method -->
    <EditForm Model="@us" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <!-- Create a container for the form elements -->
        <div class="container">
            <!-- Create a row for the Id input field -->
            <div class="row">
                <div class="col-md-6">
                    <CustomInputGuid @bind-Value="us.Id" ValidationFor="@(() => us.Id)" Label="Id" Id="us_id" ReadOnly=true />
                </div>
            </div>
            <!-- Create a row for the Name input field -->
            <div class="row">
                <div class="col-md-6">
                    <CustomInputText @bind-Value="us.Name" ValidationFor="@(() => us.Name)" Label="Name" Id="us_name" />
                </div>
            </div>
            <!-- Create a row for the Save button -->
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </div>
            </div>
        </div>
    </EditForm>
}