@if (_isLoading)
{
    <!-- Loader Display -->
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <!-- Table Display -->
    <form>

        <!-- User Table -->
        <table class="table">
            <thead>
                <tr>
                    <!-- Checkbox to toggle selection of all users with larger size -->
                    <th class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="_selectAll" @onclick="ToggleSelectAll" /></th>
                    <!-- Headers for line count and user name -->
                    <th class="prog-column"># Prog.</th>
                    <th>Name</th>
                </tr>
            </thead>

            <!-- User Entries -->
            <tbody>
                @{
                    _lineCount = 1; // Initialize program count
                }
                @foreach (var user in _userListUI.OrderBy(us => us.CreatedTimeStamp)) // Sort and iterate over users
                {
                    <tr>
                        <!-- User Selection with larger checkbox -->
                        <td class="checkbox-column"><input type="checkbox" class="large-checkbox" @bind="user.Selected" /></td>
                        <!-- Line Count -->
                        <td class="prog-column">@_lineCount</td>
                        <!-- User Details Link -->
                        <td><a href="/Masterdata/UserDetails/@user.IdString">@user.Name</a></td>
                    </tr>
                    _lineCount = _lineCount + 1; // Increment program count
                }
            </tbody>
        </table>

        <!-- Button Controls -->
        <button type="button" class="btn btn-success" @onclick="() => NavigateToNewEntity()">New user</button> <!-- Navigate to New User -->
        <button type="button" class="btn btn-danger" @onclick="() => ConfirmDeleteLines()">Delete Selected Users</button> <!-- Delete Selected Users -->
        <button type="button" class="btn btn-warning" @onclick="() => ExportToCSV()">Export to CSV</button> <!-- Export to CSV -->

    </form>
}
